[submodule "scripts/owl2shacl"]
	path = scripts/owl2shacl
	url = https://github.com/sparna-git/owl2shacl.git
[submodule "scripts/profilewiz"]
	path = scripts/profilewiz
	url = https://github.com/RDFLib/profilewiz.git
