.DS_Store
.venv/
specification-elements/code/.idea/.gitignore
specification-elements/code/.idea/code.iml
specification-elements/code/.idea/
scripts/.idea/.gitignore
scripts/.idea/
.idea
*.backup

.vscode/settings.json
policyAndProcedures/OGCNANameTypeSpecificationForDocuments/document.err.html
policyAndProcedures/OGCNANameTypeSpecificationForDocuments/document.presentation.xml
policyAndProcedures/OGCNANameTypeSpecificationForDocuments/relaton
policyAndProcedures/OGCNANameTypeSpecificationForDocuments/iev
policyAndProcedures/OGCNANameTypeSpecificationForDocuments/document.html
